@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="des">Контакты</h1>
<table class="contacts">
    <tr>
        <td><strong>Режим работы:</strong> Ежедневно с 07:00 до 24:00 по мск<br>
        <td>
            <strong>Служба поддержки:</strong><br>
            8 (800) 250-01-02
        </td>
    </tr>
    <tr>
        <td>
            <h2>Офис в Санкт-Петербурге</h2><br>
            <strong>Адрес:</strong> 190020, 10-я Красноармейская, 22, литер А, пом. 1-Н, 6-й этаж<br>
        </td>
    </tr>
    <tr>
        <td>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7e74922dc1647f80c718c29c009e7748b92ff530ded4bb7342c511425b72090e&amp;width=756&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </td>

    </tr>
</table>
<br>
<h1 class="des">Остались вопросы по услугам?</h1>
<p>Не нашли, что искали? Свяжитесь с нами. Также Вы можете позвонить на бесплатную линию по номеру  8 (800) 250-01-02 и задать интересующий вопрос.</p>
<form class="vopros">
    <input type="text" placeholder="Имя" required >
    <input type="email" placeholder="email" required>
    <textarea placeholder="Ваш текст" required></textarea>
    <button>Отправить</button>
</form>
