################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Store1/FileContentIndex/2cc7031a-470e-4891-9033-c990ec1c33c8.vsidx
/.vs/Store1/FileContentIndex/10520790-9b19-4491-a282-284386a457ed.vsidx
*.vsidx
