@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string
<h2>Спасибо <strong>@Model!</strong></h2>
<p>Мы благодарны за ваш вклад в наше развитие!</p>