
@{
    Layout = "_layout";
}

<h1 class="des">История</h1>
<strong>История основания бренда</strong>
<p>
    Торговая марка Befree была зарегистрирована в 2002 году. Первое время там продавалась вся одежда всех брендов фабрики «Первомайская заря» (в настоящее время —
    Melon Fashion Group): Zarina, Kellermann и Ci mi. Продажи шли плохо, тогда руководство занялось ребрендингом и позиционированием своих торговых марок.
</p>
<strong>Ребрендинг</strong>

<p>
    Из Бифри было решено сделать монобрендовый магазин с четкой целевой аудиторией. Ставку сделали на молодежь, живущую в крупных городах. Соответственно, ценовый сегмент бюджетный; а основной стиль — броский кэжуал.
    Каждую коллекцию дизайнеры разрабатывают с учетом актуальных трендов, которые адаптируют под повседневную носку.
    В 2022 году Befree отметил 20-летие. Сегодня Befree — это сеть из 250 магазинов в 4х странах, постоянные коллаборации с художниками и звездами. Здесь всегда можно найти одежду в ярких цветах и с небанальными принтами. Еще и размерную сетку расширили до XL и XXL. Идут в ногу со временем.
</p>
            </div>


