@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="des">О нас</h1>
<div class="text_and_pic">
    <img src="https://select.agency/news/Aleksandra-Krukovich-dlya-Befree/images/big/0htaxdpjm0.jpg" alt="Alternate Text" /><p>
        Befree — бренд для всех, кто любит молодежную моду, независимо от возраста.<br>

        Инклюзивность, свобода самовыражения, красота и уникальность каждого — вот ценности, которые нам близки.<br>

        Befree берет на себя ответственность дать покупателям все самое новое и популярное, что есть в мировой мэйнстрим моде, привлекая к этому творческое комьюнити России.<br>

    </p>
</div>
