@using Store.YandexCassa.Areas.YandexKassa.Controllers
@using Store.YandexKassa.Areas.YandexKassa.Models
@model ExampleModel
@{
	ViewData["title"] = "Яндекс касса";
}
<h1>Яндекс.касса</h1>
<p>
	<a href="/YandexKassa/Home/Callback">Оплатить</a>
</p>

<form action="@Url.Action(nameof(HomeController.Callback), "Home", new { area = "YandexKassa" })" method="post">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="returnUri" value="@Model.ReturnUri" />
    <button type="submit" class="btn btn-success">Оплатить</button>
</form>